<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Montar Time</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

    <h2>Montar Time</h2>

    <form action="/times/form" method="post">

        <label>Data:</label>
        <input type="date" name="data"/><br><br>

        <h3>Escolha os Integrantes</h3>

        <div th:each="integrante : ${integrantes}">
            <input type="checkbox"
                   name="integrantesIds"
                   th:value="${integrante.id}" />
            <span th:text="${integrante.nome}"></span>
            <br>
        </div>

        <br>
        <button type="submit">Criar Time</button>

    </form>

    </body>
</html>
